* {
  margin: 0px;
  padding: 0px;
}
.home {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../images/backgroundImage.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  font-size: 10px;
  color: white;
  padding: 0px 10px;
}
.logo-div {
  width: 80px;
  height: 60px;
  display: block;
}

.logo-div img {
  width: 100%;
  height: 100%;
}
.nav-menu ul,
.nav-social-links ul {
  display: flex;
  list-style: none;
}

.nav-menu ul li,
.nav-social-links ul li {
  margin: 0 10px;
}

.nav-menu ul li.active {
  color: gold;
}

.nav-social-links ul li i {
  text-decoration: underline;
}

.main {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.main-content-box {
  width: 700px;
}

.learn-more-btn,
.purchase-button {
  margin: 0px 5px;
  font-weight: 550;
}
.learn-more-btn {
  padding: 10px;
  border: 3px solid #fff;
  color: white;
  background-color: transparent;
  outline: none;
}

.purchase-button {
  padding: 10px;
  border: 3px solid #fff;
  background-color: #fff;
  color: #000;
  outline: none;
}
.footer {
  display: flex;
  background-color: transparent;
  color: white;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 0px 10px;
  font-style: italic;
  font-size: 10px;
}

/* course cards */
.course-card {
  width: 300px;
  border: 2px solid red;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: #fff;
  margin: 10px;
}

.course-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
