@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.home {
    height: 100vh;
    display: flex;
    background-color: #4B0082;
    justify-content: center;
    align-items: center;
}

.loginform {
    height: 400px;
    width: 400px;
    background-color: gainsboro;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginFormHeader {
    font-family: 'Noto Serif', serif;
    color: gainsboro;
    text-align: center;
    margin: 10px 0px;
}
.loginText {
    font-weight: 400;
    font-size: 20px;
    color: "#8A2BE2"
}
.iTellerText {
    font-weight: bolder;
    font-size: 60px;
}
.loginButton {
    display: flex; 
    justify-content: center;
    align-items: center;
}

/* Dashboard */
/* navabar */
.navbar-background {
    background-color: '#4B0082';
}

.iTellerNavbarText {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Noto Serif', serif;
}